.containerHeader {
  background-color: #1b1b53;
  padding: 12px 24px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 1200px;
}

.by {
  color: white;
}

.containerImg {
  display: flex;
}

.containerImg h1 a {
  color: #ffa500;
}

.cabecalho nav ul {
  display: flex;
  gap: 20px;
}

.itemNavigation {
  display: flex;
  align-items: center;
  gap: 6px;
}
