.productContainer {
  max-width: 1200px;
  margin: 0px auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(86, 92, 105);
}

.productContainer h1 {
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;
  color: rgb(66, 70, 77);
}

.containerDetailsProduct {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.containerDetailsProduct strong {
  color: darkgreen;
  font-weight: 700;
}

.productImage {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.productPrice {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  color: #ffae00;
}

.detailsProduct {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

span {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.byMarket {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: #1e1e1e;
}

.containerCep {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 10px;
  width: 100%;
}

.containerCep > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerCep p a {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1srem;
  font-weight: 700;
  color: #1b1b53;
  text-decoration: underline;
}

.containerCep span {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 0.775rem;
  margin-top: 8px;
}

.cep {
  display: flex;
  gap: 10px;
}

.cep input {
  border-radius: 4px;
  padding: 5px;
  border: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.headerReview::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: rgb(0, 0, 0, 0.1);
}

.headerReview h2 {
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.headerReview div {
  margin: 30px 0px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.sectionReview {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 15px;
}

.reviews {
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
  padding: 15px;
  border-radius: 4px;
}

.rating strong {
  color: #ffa500;
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 700;
}

.rating {
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: #ffa500;
}

.reviews p:first-child {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: rgb(66, 70, 77);
}

.reviews div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.comments {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviewDate {
  font-size: 0.625rem;
  line-height: 1rem;
  color: rgb(127, 133, 141);
  font-weight: 600;
}
